<mat-toolbar class="md-medium">

    <div class="box">
        <a mat-button [routerLink]="'/'">
            <i class="material-icons">home</i>
        </a>
    </div>

    <div class="box">
        <a mat-button [routerLink]="'/gallery/favorites'">
            <i class="material-icons">favorite</i>
        </a>
    </div>

    <div class="box">
        <a mat-button [routerLink]="'/gallery/photo/add'">
            <i class="material-icons">add_box</i>
        </a>
    </div>

    <div class="box">
        <mat-form-field>
            <mat-label>Search</mat-label>
            <input matInput placeholder="Type here...">
        </mat-form-field>
    </div>

</mat-toolbar>

<!-- <a routerLink="/gallery/photo/search">
            <div class="icon-box">
                <i class="fa fa-search icon"></i>
            </div>
        </a> -->