<mat-toolbar class="md-medium">
  <div class="box">
    <a mat-button [routerLink]="'/'">
      <em class="material-icons">home</em>
    </a>
  </div>

  <!-- <div class="box">
        <a mat-button [routerLink]="'/gallery/favorites'">
            <i class="material-icons">favorite</i>
        </a>
    </div>

    <div class="box">
        <a mat-button [routerLink]="'/gallery/photo/add'">
            <i class="material-icons">add_box</i>
        </a>
    </div>

    <div class="box">
        <mat-form-field>
            <mat-label>Search</mat-label>
            <input matInput placeholder="Type here...">
        </mat-form-field>
    </div> -->
</mat-toolbar>
