
.photo {
    opacity: 0.90;
    color: white;
    background-color: rgb(80, 80, 80);
    border-radius: 10px 10px 10px 10px;
    margin-bottom: 5px;
    margin-right: 5px;
    margin-left: 5px;
    width: 250px;
}

.photo:hover{
    opacity: 1;
}

img {
    content: ' ';
    height: 100%;
    width: 250px;
    min-height: 250px;
    min-width: 250px;
    max-width: 250px;
}

.image {
    display: block;
    cursor: pointer;
    background-repeat: no-repeat;
    overflow: hidden;
    color: #fff;
    border-radius: 10px 10px 10px 10px;
}

.image-info {
    text-align: center;
}

.fa.fa-thumbs-o-up:hover{
    cursor: pointer;
    color: greenyellow;
}
.fa.fa-thumbs-o-down:hover{
    cursor: pointer;
    color: red;
}
.fa.fa-play:hover{
    color: slategray;
}